
.section1 {
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    color: #FFFFFF;

}

.section1 nav {
    margin-top: -1px;
    margin-left: 14px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.section1 nav ul li {
    display: inline-flex;
    margin-left: 39px;

}

.section1 nav ul li:first-child {
    margin-left: 44px;
}

select {
    background-color: #1E212C;

}

.logo__nav__button {
    display: flex;
    width: 1230px;
    height: 52px;
    padding-top: 35px;
    margin: 0 auto;

}

.logo {
    width: 130px;
    height: 22px;
}

button {
    background-color: #7772F1;
    width: 199px;
    height:52px;
    left: 1031px;
    border-radius: 4px;
    padding: 0px 40px 0px 40px;
    margin-left: 342px;
    margin-top: -15px;
    line-height: 52px;
    letter-spacing: 1px;
    text-align: center;





}