a {
    color: #FFFFFF;
}

.section1 {
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    color: #FFFFFF;

}

.section1 nav {
    margin-top: -1px;
    margin-left: 14px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.section1 nav ul li {
    display: inline-flex;
    margin-left: 36px;

}

.section1 nav ul li:first-child {
    margin-left: 44px;
}

select {
    background-color: #1E212C;

}

.logo__nav__button {
    display: flex;
    width: 1230px;
    height: 52px;
    padding-top: 35px;
    margin: 0 auto;

}

.logo {
    width: 130px;
    height: 22px;
}

.logo__nav__button button {
    background-color: #7772F1;
    width: 199px;
    height: 52px;
    left: 1031px;
    padding: 0px 40px 0px 40px;
    border-radius: 4px;
    margin-left: 342px;
    margin-top: -15px;
    letter-spacing: 1px;

}

.section1__content h1 {
    font-family: Lato;
    font-size: 72px;
    font-weight: 900;
    line-height: 94px;
    letter-spacing: 1px;
    text-align: left;
    width: 810px;
    height: 188px;

    margin-left: 345px;
}

.section1__content h1 span {
    color: #7772F1;
}

.section1__content button {
    font-family: Lato;
    width: 220px;
    height: 52px;
    top: 520px;
    left: 345px;
    padding: 0px 40px 0px 40px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    margin-top: 60px;
    margin-left: 345px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
}
.section1__content span span{
    margin-left:-3px ;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;


}
.section1__content span>img{
    margin-top: 45px;
    margin-left: 20px;

}

.section1__content{
    margin-top: 221px;
    display: flex;

}
.illustration{
    margin-top: 39px;
    margin-left: -15px;
}

.section1__last{
    box-sizing: border-box;
    margin-top: 126px;
    margin-left: 345px;
}
.section1__last span{
    padding-right: 184px;

    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.section1__last span img{
    padding-right: 20px;
    margin-top: -5px;
}
